@charset "UTF-8";
html, body{
	height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #7b2b2b;
}

.align-center{
	text-align: center;
}

#main{
	/*height:100%;*/
	/*width:100%;*/
	background: #7b2b2b;
	text-align: center;
}

.contenido-estilo{
	background: beige;
}

.padding-not-left-right{
	padding-left: 0px;
	padding-right: 0px;
}

.pie-estilo{
	background: #33a829;
}

.encabezado-estilo{
	background: white;
}

.alinear-texto-izquirda{
	text-align:left; 
}
